.page{
    background-color: #F5F5F5;
    color: #212121;
}

.logo{
    color: #2196F3;
}

.list{
    list-style: none;
}

/*колір головного тексту #212121*/
/*колір другорядного тексту #757575*/

/*білій колір #FFFFFF*/
/*голубий колір*/
/*акцент #2196F3*/
/*  */