/* general edits */
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.body{
    background-color: #FFFFFF;
    color: #212121;
}
ul {
    list-style: none;
}
a {
    text-decoration:none;
  }

/* Header */
.logo1{
    color: #2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo1:hover,
.logo1:focus{
    color:#2196F3;
}
.logo2{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo2:hover,
.logo2:focus{
    color: #000000;
}

.site-nav .menu{
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.site-nav .menu:hover,
.site-nav .menu:focus{
    color: #2196F3;
}
.mail{
    color: #2196F3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus{
    color: #2196F3;
}
.tel{
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.tel:hover,
.tel:focus{
    color: #757575;
}

/* main */
/* main business-solusions  */
.business-solusions{
background-color: #2F303A;
}
.h1{
color: #FFFFFF;
}
.button{
background-color: #2196F3;
color: #FFFFFF;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
}
/* main our advantages */
.h3-our-advantages{
    color: #212121;
}
.p-our-advantages{
    color: #757575;
}

/* колір main title #2F303A  */
/* колір наші переваги та чим займаємось #F5F5F5 */
/* колір наша команда #F5F4FA*.

/*колір головного тексту #212121*/
/*колір */

/*білій колір #FFFFFF*/
/*голубий колір*/
/*акцент #2196F3*/
